body {
    background-image: url('https://images.unsplash.com/photo-1653306571965-d0ae5c2b66e1?q=80&w=2189&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.search-filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 95px;
    padding: 10px 20px;
}

#search-input {
    width: 80%;
    border-radius: 5rem;
    height: 2.5rem;
    padding: 0 2rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.search-bar {
    width: 40%;
}

.filter-bar {
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    width: 50%;
}

